body{
    font-family: 'Pushster', cursive;
    margin: 0%;
}
h1{
    font-size: 75px;
}
.Orange-color{
    color: chartreuse;
}
.flexible-container{
    display: flex;
    margin: 70px;
}
.half-width{
    width: 50%;
    padding-left: 3%;
}
.half-width img{
     width: 80%;
     padding-top: 10%;
     padding-left: 10%;
     padding-top: 20%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(chartreuse, green);
    padding: 5px 10px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.Tiger{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;   
}
.Experience{
    background-image: url(images/dream-bg\ -1.png);
    background-repeat: no-repeat;
    background-position: left;  
}
.experience-items{
    width: 70%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 1%;
    border-radius: 10px;
    box-shadow: 10px 10px 20px greenyellow;        
}
#travel-sundarban{
    border-left: 20px solid;
    border-image: linear-gradient( yellow, green) ;
    border-image-slice: 1;
}
#travel-to-sundarban{
    border-left: 20px solid;
    border-image: linear-gradient( green, yellow) ;
    border-image-slice: 1;
    
}
footer p{
    text-align: center;
}

